@use "../abstracts/colors";

@media screen and (max-width: 80rem) {
  .home {
    &__wrapperText {
      position: absolute;
      bottom: 0;
      left: 0;
      color: #191919;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 2rem;

      &--home {
        color: #eee;
      }
    }

    &__h2 {
      font-size: 250%;
    }
    &__h3 {
      font-size: 200%;
    }

    &__buttonWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 40rem;
    }

    &__arrowButton {
      display: flex;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      transition: 0.5s all;

      &:hover {
        cursor: pointer;
        background: colors.$red-color;
      }
    }

    &__arrowI {
      font-size: 180%;
      transition: 0.3s all;

      &:hover {
        cursor: pointer;
        font-size: 210%;
      }
    }

    &__arrowLink {
      text-decoration: none;
    }
  }

  .header {
    width: 100%;

    &__ul {
      list-style: none;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      gap: 0.5rem;
    }

    &__li {
      font-size: 140%;
      padding: 1rem;
    }

    &__link {
      text-decoration: none;
      color: #191919;
      transition: 0.5s all;

      &:hover {
        cursor: pointer;
        color: colors.$red-color;
      }
    }

    &__logo {
      width: 13rem;
      height: 8rem;
    }

    &__logoimg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .footer {
    width: 100%;
    height: 100%;
    background-color: #d8d9da;
    margin-top: 10rem;

    &__ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 3rem;
    }

    &__li {
      display: flex;
      list-style: none;
      margin-top: 5rem;
      flex-direction: column;
      font-size: 150%;
      width: 22rem;
      gap: 1rem;
    }

    &__link {
      text-decoration: none;
      color: #191919;
      transition: 0.5s all;
      width: max-content;

      &:hover {
        cursor: pointer;
        color: colors.$red-color;
        text-decoration: underline;
      }
    }

    &__linkWrapper {
      display: flex;
      gap: 0.5rem;

      &--letter {
        display: flex;
        flex-direction: column;
      }
    }

    &__icon {
      font-size: 170%;
    }
  }
  .project {
    &__figure {
      margin-top: 5rem;
      width: 100%;
      height: 60rem;
      padding: 2rem;
      object-fit: contain;
    }
    &__figureimg {
      margin-top: 5rem;
      width: 100%;
      height: 40rem;
      padding: 2rem;
      object-fit: contain;
    }
    &__h3 {
      font-size: 170%;
    }
  }
}

@media screen and (max-width: 68.75rem) {
  .about {
    &__imgFigure {
      width: 100%;
      height: 45rem;
      padding: 2rem;
      object-fit: cover;
    }
    &__h2 {
      font-size: 200%;
    }
    &__h3 {
      font-size: 200%;
    }
    &__text {
      font-size: 190%;
    }

    &__imgFigure2 {
      margin-top: 5rem;
      width: 100%;
      height: 45rem;
      padding: 2rem;
      object-fit: cover;
    }
    &__card {
      margin-top: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 70rem;
      background-color: #d8d9da;
      padding: 2rem;
      border-radius: 0.5rem;
      box-shadow: 0 4px 8px rgba(1, 1, 1, 0.7);
    }
  }
  .werkwijze {
    padding: 3rem;
    &__card {
      box-shadow: 0 4px 8px rgba(1, 1, 1, 0.7);
      margin-top: 2rem;
      padding: 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      background-color: #d8d9da;
      transition: 0.8s all;

      &--p {
        font-size: 130%;
      }
    }
  }
  .werkenbij {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;

    &__article {
      margin-top: 3rem;
      height: 100rem;
      width: 100%;
      background-color: #eee;
      box-shadow: 0 4px 8px rgba(0.7, 0.7, 0.7, 0.7); /* Add a subtle box shadow */
      padding: 3rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      &--h2 {
        font-size: 200%;
        text-decoration: underline;
        color: #191919;
      }

      &--p {
        font-size: 200%;
      }

      &--figure {
        width: 40rem;
        height: 23rem;
        object-fit: contain;
        box-shadow: 0 4px 8px rgba(0.7, 0.7, 0.7, 0.7); /* Add a subtle box shadow */
      }

      &--img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 41rem) {
  .werkenbij {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;

    &__article {
      margin-top: 3rem;
      height: 110rem;
      width: 100%;
      background-color: #eee;
      box-shadow: 0 4px 8px rgba(0.7, 0.7, 0.7, 0.7); /* Add a subtle box shadow */
      padding: 3rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      &--h2 {
        font-size: 170%;
        text-decoration: underline;
        color: #191919;
      }

      &--p {
        font-size: 150%;
      }

      &--figure {
        width: 30rem;
        height: 23rem;
        object-fit: contain;
        box-shadow: 0 4px 8px rgba(0.7, 0.7, 0.7, 0.7); /* Add a subtle box shadow */
      }

      &--img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .werkwijze {
    &__card--p {
      font-size: 90%;
    }
  }
  .footer {
    width: 100%;
    height: 100%;
    background-color: #d8d9da;
    margin-top: 10rem;

    &__ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 3rem;
    }

    &__li {
      display: flex;
      list-style: none;
      margin-top: 5rem;
      flex-direction: column;
      font-size: 150%;
      width: 15rem;
      gap: 1rem;
    }

    &__link {
      text-decoration: none;
      color: #191919;
      transition: 0.5s all;
      width: max-content;

      &:hover {
        cursor: pointer;
        color: colors.$red-color;
        text-decoration: underline;
      }
    }

    &__linkWrapper {
      display: flex;
      gap: 0.5rem;

      &--letter {
        display: flex;
        flex-direction: column;
      }
    }

    &__icon {
      font-size: 150%;
    }
    &__h2 {
      font-size: 180%;
    }
    &__p {
      font-size: 150%;
    }
  }
}
@media screen and (max-width: 35rem) {
  .home {
    &__buttonWrapper {
      padding-top: 10rem;
    }
  }
  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__ul {
      list-style: none;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 10rem;

      gap: 2rem;
    }

    &__link {
      text-decoration: none;
      transition: 0.5s all;
    }
  }
  .about {
    &__h2 {
      font-size: 180%;
    }
    &__text {
      font-size: 150%;
    }
  }
  .projecten__h3{
    font-size: 180%;
  }
}

@media screen and (max-width: 25.5rem) {
  .projecten {
   
    padding: 3rem;


    &__article {
      margin-top: 2rem;
      color: #191919;
      width: 35rem;
      height: 40rem;
      border-radius: 0.5rem;
      padding: 1rem;
      position: relative;
      background-size: cover;
      background-position: center center;
      transition: 0.5s all;
      box-shadow: 0 4px 8px rgba(0.7, 0.7, 0.7, 0.7); /* Add a subtle box shadow */
      &:hover {
        width: 37rem;
        height: 41rem;
        cursor: pointer;
        color: #fe0000;
      }
    }
  }
  .about {
    &__h2 {
      font-size: 170%;
    }
    &__text {
      font-size: 150%;
    }
  }

  .nextPage {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;

    &__card {
      box-shadow: 0 4px 8px rgba(0.7, 0.7, 0.7, 0.7); /* Add a subtle box shadow */
      width: 30rem;
      height: 58rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;
      flex-direction: column;
      background-color: #d8d9da;
      padding: 1rem;
      border-radius: 0.5rem;
    }

    &__h2 {
      margin-top: 2rem;
      font-size: 200%;
      color: #191919;
    }

    &__figureImg {
      width: 25rem;
      height: 15rem;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__p {
      font-size: 150%;
      width: 20rem;
      color: #191919;
    }

    &__buttonWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__arrowButton {
      display: flex;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      transition: 0.5s all;

      &:hover {
        cursor: pointer;
        background: colors.$red-color;
      }
    }

    &__arrowI {
      font-size: 180%;
      transition: 0.3s all;

      &:hover {
        cursor: pointer;
        font-size: 210%;
      }
    }

    &__arrowLink {
      text-decoration: none;
    }
  }
}
